#
# To enable sending emails, please make an account at sendgrind (free should be fine)
# and copy the API key into the SMTP password.  If you don't do this first, you'll
# have to setup it later, which will involve some manual effort to configure each
# sub-site.
#
SMTP_SERVER=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASSWORD=LONG-STRING-GOES-HERE
